{
  "ignorePatterns": [
    "node_modules/",
    "*.js"
  ],
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/react",
    "plugin:@shopify/prettier"
  ],
  "rules": {
    "id-length": "off",
    "no-process-env": "off",
    "@shopify/jsx-no-hardcoded-content": "off",
    "@typescript-eslint/naming-convention": "off"
  }
}
