@page
@model Login

<div>
    <div>
        <h2>Log in to your account</h2>
    </div>

    <div>
        <div>
            <form asp-page="/Account/Login">
                <div>
                    <label asp-for="Input.Username">Username</label>
                    <div>
                        <input asp-for="Input.Username" type="text" autocomplete="username" required autofocus>
                    </div>
                </div>

                <div>
                    <label asp-for="Input.Password">Password</label>
                    <div>
                        <input asp-for="Input.Password" type="password" autocomplete="current-password" required>
                    </div>
                </div>

                <div>
                    <button type="submit">Log in</button>
                </div>

                <input type="hidden" asp-for="ReturnUrl"/>
            </form>
        </div>

        <partial name="_ValidationSummary"/>
    </div>
</div>